

/* Nếu width <=600px thì được phép hoạt động - Sử dụng cho mobile */
@media all and (max-width: 600px) {

    /* Nav-section */

    .nav-container {
        width: 90%;
    }

    .nav-container .nav-container_heading {
        font-size: 0.875rem;

    }

    .nav-container .nav-container_list {
        display: none;
        
    }
    .nav-container i {
        display: block;
        
    }

    /* Hero-section */

    .hero-container {
        flex-direction: column;
        width: 90%;
        
    }

    .hero-container .hero-container-left {
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 260px;
        padding: 0;
    }

    .hero-container .hero-container-left h1 {
        font-size: 2.5rem;
    }

    .hero-container .hero-container-left p {
        font-size: 1rem;
    }

    .hero-container .hero-container-right {
        width: 70%;
        margin: 0 auto;
        padding: 48px 0;
    }

    .hero-container .hero-container-right img{
        width: 120%;

    }

    /* Copanies Section */

    .companies-container {
        margin-top: 80px;
    }

    .companies-container .companies-container-desc {
        font-size: 0.875rem;
    }

    .companies-container .companies-container-images {
        padding: 10px 15px;
    }
    
    .companies-container .companies-container-images .companies-container-image {
        width: 20%;
        height: auto;
    }
}

