@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
}

/* Navbar */

.nav-container {
    display: flex;
    width: 80%;
    height: 28px;
    margin: 40px auto 0;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-container_heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-container .nav-container_list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-container .nav-container_list .nav-container_item {
    margin-right: 2.75rem;
    font-weight: 400;
    font-size: 1.125rem;
}

.nav-container i {
    display: none;
}

/* Hero section */

.hero-container {
    background-color: #fff;
    width: 80%;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-between;
}

.hero-container .hero-container-left {
    padding: 42px 0 49px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.hero-container .hero-container-left h1 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: capitalize;
    max-width: 540px;
    height: auto;
}

.hero-container .hero-container-left p {
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: capitalize;
    color: #272d38;
    max-width: 540px;
    height: auto;
}

.hero-container .hero-container-left button {
    background-color: #8eadd5;
    border: none;
    border-radius: 8px;
    font-weight: 600px;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
}

.hero-container .hero-container-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.hero-container .hero-container-right img {
    width: 100%;
}

/* Companies section */

.companies-container {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.companies-container .companies-container-desc {
    text-align: center;
    margin-bottom: 16px;
    color: #667085;
    font-size: 1rem;
}

.companies-container .companies-container-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 19px 24px;
}

.companies-container .companies-container-images .companies-container-image {
    width: 15%;
    height: auto;
}

/* Brading Section */

.brading-container {
    background-color: #fff;
    width: 80%;
    margin: 136px auto 0;
    display: flex;
    justify-content: space-between;
}

.brading-container .brading-container-left {
    margin-right: 180px;
    width: 50%;
}

.brading-container .brading-container-left img {
    width: 100%;
}

.brading-container .brading-container-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.brading-container .brading-container-right h1 {
    font-weight: 700;
    font-size: 3rem;
}

.brading-container .brading-container-right p {
    font-weight: 400;
    font-size: 1rem;
}

.brading-container .brading-container-right button {
    border: none;
}

/* Custom Section */

.custom-container {
    background-color: #fff;
    width: 80%;
    margin: 136px auto 0;
    display: flex;
    justify-content: space-between;
}

.custom-container .custom-container-left {
    padding: 42px 0 49px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.custom-container .custom-container-left h1 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: 540px;
    height: auto;
}

.custom-container .custom-container-left p {
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: capitalize;
    color: #272d38;
    max-width: 540px;
    height: auto;
}

.custom-container .custom-container-left button {
    border: none;
}

.custom-container .custom-container-right {
    width: 50%;
    margin-left: 180px;
}

.custom-container .custom-container-right img {
    width: 100%;
}

/* Testimonial Section*/

.testimonial-container {
    width: 80%;
    height: auto;
    margin: 136px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-container .testimonial-container-title {
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.testimonial-container .testimonial-container-heading {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 39px;
}

.testimonial-container .testimonial-container-list {
    display: flex;
    justify-content: space-between;
}

.testimonial-container .testimonial-container-list .testimonial-container-item {
    width: 32.5%;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 10px;
    padding: 32px;
}

.testimonial-container
    .testimonial-container-list
    .testimonial-container-item
    h3 {
    margin: 10px 0 27px 0;
}

/* Contact section */

.contact-container {
    background-color: #f5f5f5;
    width: 80%;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.contact-container .contact-container-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .contact-container-left img {
    width: 80%;
}

.contact-container .contact-container-right {
    padding: 49px 0 42px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.contact-container .contact-container-right h1 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: 540px;
    height: auto;
}

.contact-container .contact-container-right p {
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: capitalize;
    color: #272d38;
    max-width: 540px;
    height: auto;
}

.contact-container .contact-container-right button {
    background-color: #8eadd5;
    border: none;
    border-radius: 8px;
    font-weight: 600px;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
}

/* Footer Section*/

.footer-container {
    background-color: #ccc;
    margin-top: 140px;
    padding-top: 105px;
    padding-bottom: 15px;
}

.footer-container .footer-container-list {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 110px;
}

.footer-container .footer-container-desc {
    text-align: center;
}

.footer-container .footer-container-list h3 {
    font-size: 1.125rem;
    font-weight: 700;
}

.footer-container .footer-container-list .footer-container-item-1 h3 {
    margin-bottom: 40px;
}

.footer-container .footer-container-list .footer-container-item-2 h3,
.footer-container .footer-container-list .footer-container-item-3 h3,
.footer-container .footer-container-list .footer-container-item-4 h3 {
    margin-bottom: 32px;
}

.footer-container .footer-container-list ul li {
    list-style: none;
}

.footer-container .footer-container-list ul {
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
